<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('style.css') }}">
    {% endblock %}
</head>
<body>
<header class="bg-white">
    <nav class="navbar container navbar-light  navbar-expand-lg">
        <a class="navbar-brand" href="{{ path('home') }}"><img src="{{ asset('assets/images/ULearn Logo.svg') }}"></a>
        <button class="navbar-toggler" data-target="#navbarCollapse" data-toggle="collapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarCollapse">
            <ul class="navbar-nav ">
                <li class="navbar-item">
                    <a class="nav-link" href="{{ path('catalog') }}">Catalog</a>
                </li>
                
            </ul>
        </div>
    </nav>
</header>

{% block body %}{% endblock %}

<footer class="bg-color-footer py-5">
    <div class="container">
        <div class="row">
            <div class="col-4">
                <a class="nav-link" href="#">About Us</a>
                <a class="nav-link" href="#">Contact</a>
                <a class="nav-link" href="#">Terms & Conditions</a>
            </div>
            <div class="col-4">
                <a class="nav-link" href="#">Quick Links </a>
                <a class="nav-link" href="#">All Courses</a>
                <a class="nav-link" href="#">Learning Paths</a>
            </div>
            <div class="col-4">
                <a class="nav-link" href="#">Facebook</a>
                <a class="nav-link" href="#">Twitter</a>
                <a class="nav-link" href="#">Instagram</a>
            </div>
        </div>
    </div>
</footer>


{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
            integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
            crossorigin="anonymous"></script>
    <script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('assets/js/bootstrap.bundle.min.js') }}"></script>
{% endblock %}
</body>
</html>
